# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/reference/configuration-reference
version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.12.7

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv .venv
            source .venv/bin/activate
            python3 -m pip install --upgrade pip
            pip install -r requirements.txt
      - run:
          name: "Say hello"
          command: "echo Hello, World!"          
      - save_cache:
          paths:
            - ./.venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}          
      - run:
          name: run tests
          command: |
            source .venv/bin/activate
            pytest